* {
    -mfx-main: rgb(81, 130, 155);
    -mfx-purple: rgb(81, 130, 155);
    -fx-beige: rgb(234, 223, 180);
    -fx-celeste-pastel:rgb(155, 176, 193);
    -fx-azul-pastel: rgb(81, 130, 155);
    -fx-naranja: rgb(246, 153, 92);
    -fx-magenta: rgb(255, 32, 78);
    -fx-fucsia: rgb(160, 21, 62);
    -fx-morado: rgb(93, 14, 65);
    -fx-azul: rgb(0, 34, 77);
    -fx-celeste-hielo: rgb(223, 245, 255);
}
.pregunta-background{
    -fx-background-image: url("../resources/preguntaBackground.jpg");
}

.label-Titulos{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
}

.contenedor-forms{
    -fx-background-radius: 4.0;
    -fx-padding: 15 15 15 15;
    -fx-spacing: 6px;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
    -fx-border-color: rgb(93, 14, 65);
    -fx-border-width: 1px;
}

.contenedor-base {
    -fx-background-radius: 4.0;
    -fx-border-width: 1px;
    -fx-padding: 5 5 5 5;
    -fx-spacing: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 10, 0, 0, 0);
}


.contenedorBotones{
    -fx-padding: 2 2 2 2;
    -fx-spacing: 6px;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
}

.contenedorPregunta{
    -fx-background-image: url("../resources/pregunta.png");
}
.mfx-button{
    -mfx-button-type: RAISED;
    -mfx-depth-level: LEVEL2;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-label-padding: 2px;

}
.mfx-button:hover{
    -fx-background-color: -fx-celeste-hielo;
    -fx-text-fill: black;
}

.mfx-button:pressed{
    -fx-alignment: BOTTOM_RIGHT;
}
.butonPregunta,.butonPregunta:armed,.butonPregunta:focused{
    -fx-max-width: 225px;
    -fx-min-width: 190px;
    -fx-max-height: 40px;
    -fx-min-height: 40px;
    -fx-background-color: aquamarine;
    -fx-text-fill: gray;
}

.butonComodin,.butonComodin:armed,.butonComodin:focused{
    -fx-max-width: 50px;
    -fx-min-width: 50px;
    -fx-max-height: 50px;
    -fx-min-height: 50px;
    -fx-background-color: transparent;
    -fx-alignment: BASELINE_RIGHT;
    -fx-padding: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 50.0, 0.7, 0.0, 1.5);
}

.imagen{
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.principal-imagen {
    -fx-background-image: url("../resources/principalIcon.png");
}

.acercaDe-imagen{
    -fx-background-image: url("../resources/acercadeBackground.jpg");
    -fx-opacity: 1;
}

.mfx-btn-bomb > ImageView {
    -fx-image: url("../resources/bomb.png");
}
.mfx-btn-porDos > ImageView {
    -fx-image: url("../resources/porDos.png");
}
.mfx-btn-btnRetry > ImageView {
    -fx-image: url("../resources/reiniciar.png");
}
.mfx-btn-next > ImageView {
    -fx-image: url("../resources/next.png");
}

.dev1-Image{
    -fx-background-image: url("../resources/dev1.jpg");
}
.dev2-Image{
    -fx-background-image: url("../resources/dev1.jpg");
}

.Icon{
    -fx-background-image: url("../resources/logo.jpg");
    -fx-background-size:stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.label-Titulo-Principal{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.jfx-mfx-btn-inicar ,.jfx-mfx-btn-inicar:armed,.jfx-mfx-btn-inicar:focused{
    -fx-background-color: #FF8A08;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-label-padding: 2px;
}

.jfx-mfx-btn-inicar > ImageView {
    -fx-image: url("../resources/play.png");
}

.jfx-mfx-btn-salir ,.jfx-mfx-btn-salir:armed,.jfx-mfx-btn-salir:focused{
    -fx-background-color: #C40C0C;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;  
    -fx-label-padding: 2px;
}

.jfx-mfx-btn-salir > ImageView {
    -fx-image: url("../resources/exit.png");
}

.background{
    -fx-background-color:-fx-celeste-hielo;
}

.jfx-icon-principal-1{
    -fx-background-image: url("../resources/Arte.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.jfx-icon-principal-2{
    -fx-background-image: url("../resources/Deportes.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.jfx-icon-principal-3{
    -fx-background-image: url("../resources/Ciencia.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.jfx-icon-principal-4{
    -fx-background-image: url("../resources/Historia.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.jfx-icon-principal-5{
    -fx-background-image: url("../resources/Geografia.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.jfx-icon-principal-6{
    -fx-background-image: url("../resources/Entretenimiento.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.jfx-mfx-btn-play{
    -fx-background-color: #41B06E;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-label-padding: 2px;
}

.jfx-mfx-btn-play > ImageView {
    -fx-image: url("../resources/play.png");
}

.jfx-mfx-btn-next{
    -fx-background-color: #4CCD99;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-label-padding: 2px;
}

.jfx-mfx-btn-next > ImageView {
    -fx-image: url("../resources/next.png");
}

/*************
    Tableros
*************/

.tablero-2-jugadores{

    -fx-background-image: url("../resources/Tableros2jugadores.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.tablero-3-jugadores{

    -fx-background-image: url("../resources/Tablero3jugadores.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.tablero-4-jugadores{

    -fx-background-image: url("../resources/Tablero4jugadores.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.tablero-5-jugadores{

    -fx-background-image: url("../resources/Tablero5jugadores.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.tablero-6-jugadores{

    -fx-background-image: url("../resources/Tablero6jugadores.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.jfx-mfx-button-picker , .jfx-mfx-button-picker:armed , .jfx-mfx-button-picker:focused{
    -fx-background-color: TRASNPARENT;
}

.jfx-mfx-button-picker > ImageView {
    -fx-image: url("../resources/picker.png");
}